*{
	margin:0px;
	padding: 0px;
}
@font-face {font-family: Bariol;
	src: url(fonts/Bariol_Regular.otf);
}

input:focus{
  outline: none;
}
body{
  font-family: Bariol,sans-serif,helvetica;
  background-color: #f5f6fa;
}

header{

  width: 100%;
  float: left;
  margin-top: 40px;
  text-align: center;

}
header h1{

  font-size: 1em;
  letter-spacing: 1px;
  color: #3d4151;
  margin-bottom: 20px;

}
header p{

  font-size: 1em;
  letter-spacing: 1px;
  color: #3d4151;

}
header h1 span{

  font-weight: 300;

}
header img{

  width: 80px;

}

article{
  width: 100%;
  float: left;
}
article section.login{

  margin: 50px auto;
  width:350px;
  padding: 20px;
  background-color: #8bd5ca;
  border-radius: .3em;

}


article section.login header {
  width: 100%;
  float: left;
}
article section.login h1{
  margin-bottom: 40px;
  color: white;
  line-height: 30px;

  font-weight: 500;

}
article section.login span{
  font-weight: 300;
}
article section.login form{
  float: left;
  width: 100%;
}
article section.login form ul{
  display: block;
  float: left;
  width: 100%;
}

article section.login form ul li{
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
article section.login form ul li label{
  float: left;
  width: 5%;
  padding: 0 4%;
  height: 45px;
  line-height: 45px;
  background-color: white;
  text-align: center;
  border-radius: .3em 0 0 .3em;
  color: #3d4151;
  border-right: 1px solid rgba(0,0,0,.1); 
}
article section.login form ul li label.plain{
  float: left;
  width: auto;
  padding: 0%;
  font-size: .8em;
  background-color: white;
  text-align: left;
  border-radius: 0;
  border: none;
  background: no-repeat;
  color: white;
}
article section.login form ul li input[type="checkbox"]{
  float: left;
  margin-right: 20px;
}
article section.login form ul li input.text{
  display: block;
  width: 75%;
  padding: 0 4%;
  height: 45px;
  line-height: 45px;
  float: left;
  border: none;
  border-radius: 0 .3em .3em 0;
}

article section.login a{

  display: block;
  width: 100%;
  height: 50px;
  text-decoration: none;
  color: white;
}



