*{
	margin:0px;
	padding: 0px;
}
@font-face {font-family: Bariol;
	src: url(fonts/Bariol_Regular.otf);
}
body{
  font-family: Bariol;
}

header{

  width: 100%;
  float: left;
  text-align: center;

}
header img{

  width: 100px;

}