/*PROFILE*/

#content{
	position: absolute;
	width: 800px;
	left: 57%;
	margin-left: -400px;
	padding-top: 30px;
}

#content div.achievements{
	float: left;
	width: 100%;
	padding-top: 20px;
}

#content div.achievements ul li{
	display: block;
	float: left;
	position: relative;
	width: 98%;
	margin: 1%;
	height: 250px;
	background-color: white;
	border-radius: .3em;
	cursor: pointer;
	overflow: hidden;
	top: 50px;
	background-image: url(images/stats.png);
}

#content div.achievements ul li div{
	position: absolute;
	width: 90%;
	padding: 5%;
	height: auto;
}

#content div.achievements ul li img{
	position: absolute;
	width: 100%;
	height: 100%;
}

#content div.achievements ul li .profilepic{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-image: url(../images/profile-pictures/main.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#content div.achievements ul li p{
	text-indent: 130px;
	padding-top: 20px;
}

#content div.achievements ul li p.rank{
	color: white;
	padding-top: 10px;
}

#content div.stats{
	display: block;
	float: left;
	position: relative;
	width: 48%;
	margin: 1%;
	height: 250px;
	background-color: white;
	border-radius: .3em;
	cursor: pointer;
	overflow: hidden;
	top: 50px;
}

#content div.stats ul li img{
	position: absolute;
	width: 100%;
	height: 150%;
	top: -40%;
}
#content div.heartrate{
	background-image: url(../images/stats2.png);
	background-size: 100% 300px;
	background-repeat: no-repeat;
	background-position: bottom center;
}

#content div.bmi{
	background-image: url(../images/stats3.png);
	background-size: 100% 300px;
	background-repeat: no-repeat;
	background-position: bottom center;
}

#content div.stats span{
	margin-right: 7px;
	margin-top: 17px;
}
#content div.past span{
	margin-right: 7px;
	margin-top: 17px;
}

.stats ul li p{
	margin-left: 20px;
}

.left {
	position: absolute;
	height: 100%;
	top: 40px;
	left: 20px;
}

.left li{
	list-style-type: none;
	color: white;
	margin-bottom: 20px;
}

.bottom {
	position: absolute;
	top: 215px;
	width: 100%;
}

.bottom li{
	margin-left: 15%;
	list-style-type: none;
	display: inline;
	color: white;
}

#content div.past {
	display: block;
	float: left;
	position: relative;
	width: 98%;
	margin: 1%;
	height: 250px;
	background-color: white;
	border-radius: .3em;
	cursor: pointer;
	overflow: hidden;
	top: 50px;
}

#content div.past ul li p{
	margin-left: 20px;
}

#act1{
	position: absolute;
	background-image: url(../images/activities/1.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 30%;
	height: 185px;
	top: 45px;
	left: 3%;
	list-style-type: none;
	border-radius: .3em;
}

#act2{
	position: absolute;
	background-image: url(../images/activities/2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 30%;
	height: 185px;
	top: 45px;
	left: 35%;
	list-style-type: none;
	border-radius: .3em;
}

#act3{
	position: absolute;
	background-image: url(../images/activities/3.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 30%;
	height: 185px;
	top: 45px;
	right: 3%;
	list-style-type: none;
	border-radius: .3em;
}

#content div.goals {
	margin-bottom: 50px;
}

/*END PROFILE*/


















/*MOBILE*/
@media only screen and (max-width: 1080px) {
	header nav{
		left: -250px;
	}
	header nav ul{
	position: absolute;
	left: 0;
	top: 0;
	overflow-y: scroll;
	float: left;
	width: 100%;
	height: 100%;
	}
	header nav.open{
		left: 0;
	}
	#content{
		left: 50%
	}
	#content section.activities ul li.open{
		-ms-transform: scale(1,1); /* IE 9 */
	    -webkit-transform: scale(1,1); /* Chrome, Safari, Opera */
	    transform: scale(1,1);

	}
	
	header div#header h1{
		left: 50%;
	}




	/*PROFILE*/



	/*PROFILE END*/






}



@media only screen and (max-width: 768px) {
	header nav{
		left: -250px;
	}
	header nav.open{
		left: 0;
	}
	#content{
		float: left;
		position: static;
		width: 100%;
		left: 0;
		margin-left: 0px;
	}
	
	header div#header h1{
		left: 50%;
	}


/*PROFILE*/


/*END PROFILE*/



}




@media only screen and (max-width: 600px) {


	/*PROFILE*/

	#content div.stats{
		width: 95%;
		margin: 2.5%;
	}

	#content div.achievements{
		width: 95%;
		margin: 2.5%;
	}

	#content div.past{
		width: 95%;
		margin: 2.5%;
		height: auto;
	}

	#content div.past ul li ul li.acts{
		width: 95%;
		margin: 2.5%;
		float: left;
		display: block;
		position: static;
	}

	/*END PROFILE*/
}